<% i = (["a","b","c","d"].sample)*3 %>
<div class="card-post d-flex align-items-center flex-column mt-4 pr-4 pl-4 h-auto">

  <div class="tweet-container w-100 h-auto mt-3">
    <div class="politician-info d-flex p-2">
      <!-- avatar -->
      <div>
        <img class="avatar-politician" alt="avatar" src=<%= tweet.avatar_https %> />
      </div>

      <div class="politician-info-add ml-2">

        <div class="d-flex align-items-center pt-2">
          <div class="politician-info-add-name">
            <div class="link-politician-name"><%= link_to tweet.name, politician_path(tweet.politician_id) %></div>
          </div>

          <div class="politician-info-add-username ml-1">
            <div class= "political-party-header">
              <div class="link-political-group"><a href=<%= political_party.website_url%>, target="_blank" ><%= political_party.name %></a></div>
            </div>
          </div>
        </div>

        <div class="politician-info-add-role">
          <div class= ""><%= politician.role %></div>
        </div>

       </div>

       <div class="twitter-icon ml-auto">
          <span class="fab fa-twitter"></span>
      </div>

    </div>
      <!-- Start of TWEET -->
    <div class="tweet-content pl-3 pr-3 ">

      <div class="tweet-details-sub-container p-3">
        <%= tweet %>
      </div>
        <% if tweet.media? || tweet.picture? %>
      <div class="tweet-media p-3">
        <%= render "components/card_post_media", tweet: tweet  %>
      </div>
        <% end %>

      <% if tweet.retweet_id?%>
        <%= render 'components/card_post_retweet',tweet: tweet %>
      <% end %>
    </div>

    <div class="tweet-footer d-flex justify-content-between align-items-center">
      <div class="tweet-additional-info ml-3 mb-2">
        <%= tweet.date.strftime("%b %e, %H:%M") %>
      </div>

      <div class="tag-policy-area  mb-2">
        <div class="tag-container align-items-center d-flex"><%= policy_area.category %><span class="fas fa-tag"></span></div>
      </div>
    </div>
  </div>

  <div class="law-container w-100 h-auto mb-3">

    <div class="p-3 law-details align-items-center">
     <!--  title and icon -->
      <div class = law-details-sub-container p-3 w-100>

        <div class= "d-flex w-100 align-items-center p-2 law-summary-title justify-content-between">

          <div class="d-flex align-items-center">
            <div>
              <span class="fas fa-university law-icon ml-2 mr-2"></span>
            </div>

            <div class="ml-3 law-text">
              <%= law.translatedtext %>
            </div>
          </div>

          <div class="ml-3 law-date">
            <%= law.date %>
          </div>

        </div>
       <!--  main icons -->
        <div class="law-info-summary p-2 w-auto d-flex justify-content-between ">
          <div class= "d-flex  law-info-summary-1 ">

            <div>
              <i class="fas fa-vote-yea result-icon pl-2 pr-4"></i>
            </div>

            <div class="ml-1">
              <div>Result: <%= law.position_law  %></div>
            </div>

          </div>


          <div class='d-flex pb-0 result-law law-info-summary-2 '>

            <div class= "d-flex flex-even " >
              <div>
                <i class="far fa-check-circle votes_for"></i>
              </div>

              <div class= " d-flex ml-1">
                <div> <%= law.sum_for %> for</div>

              </div>
            </div>

            <div class= "d-flex flex-even">
              <div>
                <i class="far fa-times-circle votes_against"></i>
              </div>

              <div class= "ml-1">
                <div><%= law.sum_against %> against</div>
              </div>
            </div>

            <div class= "d-flex  flex-even">
              <div>
                <i class="fas fa-ban votes_abstained"></i>
              </div>

              <div class= "ml-1">
                <div><%= law.sum_abstention %> abstained</div>
              </div>
            </div>


          </div>

        </div>

        <!--  Testing1 -->


        <div class="law-info-summary p-2 w-auto d-flex justify-content-between ">


<!--           First pair of icons -->
          <div class= "d-flex political-group-law">

              <div class= "">
                <i class="fas fa-users result-icon pl-2 pr-4"></i>
              </div>

              <div class="ml-1">
                 <%= group.name%>
              </div>

          </div>

<!--        First pair of icons closing -->


          <div class='d-flex pb-0 result-law law-info-summary-2  '>
      <!--     After beginning of secon sub container  -->
            <% @project_laws.columns.each do |column| %>
              <% if column.name.include? "#{group.ref}_"  %>

              <!-- remember to close ends -->
                    <div class= "d-flex   flex-even " >
                      <div>
                        <i class="far fa-check-circle votes_for"></i>
                      </div>

                      <div class= "ml-1">
                        <div><%= law[column.name].split("-")[1].to_i%> for</div>
                      </div>
                    </div>

                    <div class= "d-flex  flex-even">
                      <div>
                        <i class="far fa-times-circle votes_against"></i>
                      </div>

                      <div class= "ml-1">
                       <div><%= law[column.name].split("-")[2].to_i%> against</div>
                      </div>
                    </div>

                    <div class= "d-flex  flex-even">
                      <div>
                        <i class="fas fa-ban votes_abstained"></i>
                      </div>

                      <div class= "ml-1">
                        <div><%= law[column.name].split("-")[3].to_i%> abstained</div>
                      </div>
                    </div>
                  <% end %>
                <% end %>
          </div>
        </div>

      </div>




        <!--  Testing 1  end-->


    <div class="law-grid collapse ml-2 mr-2 mt-2 mb-2" id="expand-<%= post.id%>">
      <% @project_laws.columns.each do |column| %>
        <% if column.name.include? "positions" %>
          <div class="card-law-grid h-auto">
            <div class="political-group-subcard p-2 mt-2">
              <div class="political-group-couple d-flex justify-content-around">
                <div class="avatar_name d-flex">
                  <div class="political-group-avatar">
                    <i class="fas fa-users"></i>
                  </div>

                  <div class="political-group-name ml-2">
                    <p> <%= law[column.name].split("-")[0] %> </p>
                  </div>
                </div>

                <div class="">
                  <a class="far fa-plus-square" data-bs-toggle="collapse" href="#<%= i %>_<%= column.name %>" role="button" aria-expanded="false" aria-controls="collapseExample"></a>
                </div>
              </div>

              <div class="political-group-votes d-flex">
                <div class="votes d-flex mt-2 mt-2 p-2">
                  <% votes_for = law[column.name].split("-")[1].to_i%>
                  <% votes_against = law[column.name].split("-")[2].to_i %>
                  <% votes_abstained = law[column.name].split("-")[3].to_i %>

                  <% if votes_for > votes_against && votes_for > votes_abstained %>
                    <div class="votes_for"><i class="far fa-check-circle"></i></div>
                    <div class="votes_for ml-2"><%= votes_for%> voted for</div>

                  <% elsif votes_against > votes_for && votes_against > votes_abstained %>
                    <div class="votes_against"><i class="far fa-times-circle"></i></div>
                    <div class="votes_against ml-2"><%= votes_against%> voted against</div>

                  <% else votes_abstained %>
                    <div class="votes_abstained"><i class="fas fa-ban"></i></div>
                    <div class="votes_abstained ml-2"><%= votes_abstained%> abstained</div>
                  <% end %>
                </div>
              </div>

              <div class="political-group-dropdown">
                <div class="collapse" id="<%= i %>_<%= column.name %>">
                  <div class="sublaw  ">
                    <div class="votes ">
                      <% votes_for = law[column.name].split("-")[1].to_i%>
                      <% votes_against = law[column.name].split("-")[2].to_i %>
                      <% votes_abstained = law[column.name].split("-")[3].to_i %>

                      <% if votes_for > votes_against && votes_for > votes_abstained %>
                        <div class="d-flex align-items m-2">
                          <div class="votes_against"><i class="far fa-times-circle"></i></div>
                          <div class="votes_against ml-2"><%= votes_against%> voted against</div>
                        </div>
                        <div class="d-flex align-items m-2">
                          <div class="votes_abstained"><i class="fas fa-ban"></i></div>
                          <div class="votes_abstained ml-2"><%= votes_abstained%> abstained</div>
                        </div>

                      <% elsif votes_against > votes_for && votes_against > votes_abstained %>
                        <div class="d-flex align-items m-2">
                          <div class="votes_for"><i class="far fa-check-circle"></i></div>
                          <div class="votes_for m-2"><%= votes_for%> voted for</div>
                        </div>
                        <div class="d-flex align-items m-2">
                          <div class="votes_abstained"><i class="fas fa-ban"></i></div>
                          <div class="votes_abstained ml-2"><%= votes_abstained%> abstained</div>
                        </div>

                      <% else votes_abstained %>
                        <div class="d-flex align-items m-2">
                          <div class="votes_for"><i class="far fa-check-circle"></i></div>
                          <div class="votes_for m-2"><%= votes_for%> voted for</div>
                        </div>
                        <div class="d-flex align-items m-2">
                          <div class="votes_against "><i class="far fa-times-circle"></i></div>
                          <div class="votes_against m-2"><%= votes_against%> voted against</div>
                        </div>
                      <% end %>

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>

    <!-- icons to share and like -->
    <div class="icons w-100 m-auto justify-content-between pt-1 pl-3 pr-3">
      <div class= "icon d-flex mb-3">
        <div class="p-2"><i class="fas fa-star fa-lg"></i></div>
        <div class="p-2"> <i class="far fa-heart fa-lg"></i></div>
        <div class="p-2"> <i class="fas fa-share-alt fa-lg"></i></div>
      </div>

      <div class="mr-5">
       <button class="btn-flat-red-light" data-bs-toggle="collapse" href="#expand-<%= post.id%>"role="button" aria-expanded="false" aria-controls="collapseExample">Other political groups</button>
      </div>

      <div>
        <%= link_to law.url_nojson, :target =>"_blank", class: "fas fa-external-link-alt law-info-summary-3 mt-2" do %>
      <% end %>

      </div>

    </div>

  </div>
</div>

























