

<div id="<%= "tweet#{tweet.id}" %>"class="card-post d-flex align-items-center flex-column pr-4 pl-4 mt-3 h-auto  ">
    <div class="tweet-container w-100 h-auto">

      <div class="politician-info d-flex p-2">
        <div> <img class="avatar" alt="avatar" src=<%= tweet.avatar_https %> />
        </div>
        <div class="politician-info-add ml-2">
          <div class="politician-info-add-name">
            <%= tweet.name %>
          </div>
          <div class="politician-info-add-username">
            <%= tweet.politician.twitter_username %>
          </div>
        </div>
        <div class="twitter-icon ml-auto">
            <span class="fab fa-twitter"></span>
        </div>
      </div>
  <!-- CONTENT TO CHANGE -->

      <div class="tweet-content p-3 ">
        <div class="tweet-details-sub-container p-3">
          <%= tweet.content %>
        </div>

        <% if tweet.media == nil %>

          <div class="tweet-details-sub-container p-3">
        <!-- placeholder for picture/video -->
            <img class="tweet_picture" alt="" src=<%= tweet.picture %> />
          </div>

        <% else tweet.media?  %>

           <div class="tweet-details-sub-container p-3">
          <!-- placeholder for picture/video -->
            <video controls width="450">
              <source type="video/mp4" src=<%= tweet.media%> >
              <source type="video/webm" src=<%= tweet.media%> >
              Sorry, your browser doesn't support embedded videos.
            </video>
          </div>

        <% end %>
        <% if tweet.retweet_id?%>
          <%= render 'components/card_tweet_retweet',tweet: tweet %>
        <% end %>
      </div>
      <!-- CONTENT TO CHANGE -->
      <div class="tweet-additional-info ml-3 mb-2">
        <%= tweet.date %>
      </div>
    </div>

    <div class="law-container w-100 h-auto">

      <div class=" p-2 law-details align-items-center ">
       <!--  title and icon -->
        <div class= " align-items-center w-100 ">

          <% if tweet.is_relevant? == nil%>

            <div class="ml-1 law-text">
              <div class="">
                Do you think the tweet is political in nature?
              </div>
            </div>

            <div class="d-flex ml-1 justify-content-center space-between">
              <div>
                <%= link_to "", tweet_path(tweet, is_relevant?: true), {method: :patch, class: "btn btn-flat-green mr-3 far fa-check-circle"} %>
              </div>
              <div>
                <%= link_to "", tweet_path(tweet, is_relevant?: false), {method: :patch, class: "btn btn-flat-red mr-3 far fa-times-circle"} %>
              </div>
            </div>
          <% end %>
        </div>
      </div>

      <% if tweet.is_relevant? && tweet.post&.matches.blank?  %>
        <div class="h-auto">
          <%= render "components/card_tweet_matchform" %>
        </div>
      <% end %>
    </div>
</div>

