<% @posts.each do |post| %>
  <% @tweets.each do |tweet| %>
    <% if post.tweet_id == tweet.id %>
      <% @politicians.each do |politician| %>
        <% if tweet.politician_id == politician.id %>
          <% @political_parties.each do |political_party| %>
            <% if tweet.politician_id == political_party.id %>
            <% @political_group.each do |political_group| %>
            <% if political_party.political_group_id == political_group.id %>
              <% @matches.each do |match| %>
                <% if match.post_id == post.id %>
                  <% @policy_areas.each do |policy_area| %>
                    <% if match.policy_area_id == policy_area.id %>
                      <% @project_laws.each do |law| %>
                        <% if match.project_law_id == law.id %>
                          <div class="mt-3">
                            <div class="card-post d-flex align-items-center flex-column pr-4 pl-4 h-auto  ">

                            <div class="card-political-group w-100 d-flex h-auto  ">
                              <div class="card-header-title d-flex w-100 h-auto">
                                <div><span class=' politician-icon fas fa-user ml-2'></span></div>
                                <div class= "ml-2"><%= politician.role %>, <%= political_party.name %></div>
                                <div class="politician-icon mt-4">
                                  <span class="fas fa-info-circle"></span>
                                </div>
                              </div>
                              <div class="tag-policy-area">
                                <div class="tag-container align-items-center d-flex"><%= policy_area.category %><span class="fas fa-tag"></span></div>
                              </div>
                            </div>

                            <div class="tweet-container w-100 h-auto">
                              <div class="politician-info d-flex p-2">
                                <!-- avatar -->
                                <div>
                                  <img class="avatar" alt="avatar" src="https://pbs.twimg.com/profile_images/1308812357502668812/jSVlszOa_400x400.jpg" />
                                </div>

                                <div class="politician-info-add ml-2">
                                  <div class="politician-info-add-name">
                                    <%= tweet.username %>
                                  </div>
                                  <div class="politician-info-add-username">
                                    <%= politician.twitter_username %>
                                  </div>

                                 </div>
                                 <div class="twitter-icon ml-auto">
                                    <span class="fab fa-twitter"></span>
                                </div>
                              </div>

                              <div class="tweet-content p-3 ">
                                <div class="law-details-sub-container p-3">
                                  <%= tweet.content %>
                                </div>
                              </div>

                              <div class="tweet-additional-info ml-3 mb-2">
                                <%= tweet.date %>
                              </div>

                            </div>

                            <div class="law-container w-100 h-auto">


                              <div class="p-3 law-details align-items-center">
                               <!--  title and icon -->

                                  <div class = law-details-sub-container p-3 w-100>


                                    <div class= "d-flex w-100 align-items-center p-3 law-summary-title">

                                      <div>
                                        <span class="fas fa-university law-icon ml-2 mr-2"></span>
                                      </div>

                                      <div class="ml-3 law-text">
                                        <%= law.name %>
                                      </div>

                                    </div>
                                 <!--  main icons -->
                                  <div class="law-info-summary w-100 d-flex align-items-center justify-content-between ">
                                    <div class= "d-flex p-2">

                                      <div>
                                        <i class="fas fa-vote-yea result-icon"></i>
                                      </div>

                                      <div class="ml-1">
                                        Approved
                                      </div>

                                    </div>


                                    <div class='d-flex p-2 result-law'>

                                      <div class= "d-flex ml-4 align-items-center " >
                                        <div>
                                          <i class="far fa-check-circle votes_for"></i>
                                        </div>

                                        <div class= "ml-1">
                                          <%= law.sum_for %>
                                        </div>
                                      </div>

                                      <div class= "d-flex ml-4">
                                        <div>
                                          <i class="far fa-times-circle votes_against"></i>
                                        </div>

                                        <div class= "ml-1">
                                          <%= law.sum_against %>
                                        </div>
                                      </div>

                                      <div class= "d-flex  ml-4">
                                        <div>
                                          <i class="fas fa-ban votes_abstained"></i>
                                        </div>

                                        <div class= "ml-1">
                                          <%= law.sum_abstention %>
                                        </div>
                                      </div>
                                    </div>



                                 <!--  closing icons -->
                                  <div class="d-flex p-2">
                                    <div class="mr-3">
                                      <i class="fas fa-external-link-alt"></i>
                                    </div>


                                      <div class="collapse" id="collapseExample">
                                      <div class="card card-body">
                                        Some placeholder content for the collapse component. This panel is hidden by default but revealed when the user activates the relevant trigger.
                                      </div>
                                    </div>





                                    <div class="mr-1">
                                      <a class="btn btn-primary fas fa-angle-double-down" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                                      </a>
                                    </div>
                                  </div>
                              </div>
                               <!--closing law details -->
                               </div>
                        </div>

                              <div class="law-grid ml-2 mr-2 mt-2 mb-2">
                                <div class="card-law-grid h-auto">
                                  <div class="political-group-subcard p-2 mt-2">
                                    <div class="political-group-couple d-flex">
                                      <div class="political-group-avatar">
                                        <img class="avatar-small" alt="avatar" src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b8/LesRépublicains15logo.svg/1920px-LesRépublicains15logo.svg.png"/>
                                      </div>
                                      <div class="political-group-name ml-2">
                                        <p> LR </p>
                                      </div>
                                    </div>
                                    <div class="political-group-votes d-flex">
                                      <div class="votes d-flex mt-2 ml-2 p-2">
                                        <% votes_for = law.LR_positions.split("-")[0].to_i%>
                                        <% votes_against = law.LR_positions.split("-")[1].to_i %>
                                        <% votes_abstained = law.LR_positions.split("-")[2].to_i %>
                                        <% if votes_for > votes_against && votes_for > votes_abstained %>
                                        <div class="votes_for"><i class="far fa-check-circle"></i></div>
                                        <div class="votes_for ml-2"><%= votes_for%> voted for</div>
                                        <% elsif votes_against > votes_for && votes_against > votes_abstained %>
                                        <div class="votes_against"><i class="far fa-times-circle"></i></div>
                                        <div class="votes_against ml-2"><%= votes_against%> voted against</div>
                                        <% else votes_abstained %>
                                        <div class="votes_abstained"><i class="fas fa-ban"></i></div>
                                        <div class="votes_abstained ml-2"><%= votes_abstained%> abstained</div>
                                        <% end %>
                                      </div>
                                    </div>
                                    <div class="political-group-dropdown d-flex">
                                        <div class="political-group-subcard"><i class="far fa-plus-square"></i></div>
                                    </div>
                                  </div>
                                </div>
                                <div class="card-law-grid h-auto">
                                  <div class="political-group-subcard p-2 mt-2">
                                    <div class="political-group-couple d-flex">
                                      <div class="political-group-avatar">
                                        <img class="avatar-small" alt="avatar" src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/96/MoDem_logo_2019.svg/2880px-MoDem_logo_2019.svg.png"/>
                                      </div>
                                      <div class="political-group-name ml-2">
                                        <p> MoDem </p>
                                      </div>
                                    </div>
                                    <div class="political-group-votes d-flex">
                                      <div class="votes d-flex mt-2 ml-2 p-2">
                                        <% votes_for = law.SOC_positions.split("-")[0].to_i%>
                                        <% votes_against = law.SOC_positions.split("-")[1].to_i %>
                                        <% votes_abstained = law.SOC_positions.split("-")[2].to_i %>
                                        <% if votes_for > votes_against && votes_for > votes_abstained %>
                                        <div class="votes_for"><i class="far fa-check-circle"></i></div>
                                        <div class="votes_for ml-2"><%= votes_for%> voted for</div>
                                        <% elsif votes_against > votes_for && votes_against > votes_abstained %>
                                        <div class="votes_against"><i class="far fa-times-circle"></i></div>
                                        <div class="votes_against ml-2"><%= votes_against%> voted against</div>
                                        <% else votes_abstained %>
                                        <div class="votes_abstained"><i class="fas fa-ban"></i></div>
                                        <div class="votes_abstained ml-2"><%= votes_abstained%> abstained</div>
                                        <% end %>
                                      </div>
                                    </div>
                                    <div class="political-group-dropdown d-flex p-3">
                                        <div class="political-group-subcard"><i class="far fa-plus-square"></i></div>
                                    </div>
                                  </div>
                                </div>
                                <div class="card-law-grid h-auto">
                                  <div class="political-group-subcard p-2 mt-2">
                                    <div class="political-group-couple d-flex">
                                      <div class="political-group-avatar">
                                        <img class="avatar-small" alt="avatar" src="https://upload.wikimedia.org/wikipedia/en/thumb/4/4f/Parti_socialiste.svg/1920px-Parti_socialiste.svg.png"/>
                                      </div>
                                      <div class="political-group-name ml-2">
                                        <p> SOC </p>
                                      </div>
                                    </div>
                                    <div class="political-group-votes d-flex">
                                      <div class="votes d-flex mt-2 mt-2 p-2">
                                        <% votes_for = law.MODEM_positions.split("-")[0].to_i%>
                                        <% votes_against = law.MODEM_positions.split("-")[1].to_i %>
                                        <% votes_abstained = law.MODEM_positions.split("-")[2].to_i %>
                                        <% if votes_for > votes_against && votes_for > votes_abstained %>
                                        <div class="votes_for"><i class="far fa-check-square"></i></div>
                                        <div class="votes_for ml-2"><%= votes_for%> voted for</div>
                                        <% elsif votes_against > votes_for && votes_against > votes_abstained %>
                                        <div class="votes_against"><i class="far fa-times-circle"></i></div>
                                        <div class="votes_against ml-2"><%= votes_against%> voted against</div>
                                        <% else votes_abstained %>
                                        <div class="votes_abstained"><i class="fas fa-ban"></i></div>
                                        <div class="votes_abstained ml-2"><%= votes_abstained%> abstained</div>
                                        <% end %>
                                      </div>
                                    </div>

                                    <div class="political-group-dropdown d-flex">
                                        <div class="political-group-subcard"><i class="far fa-plus-square"></i></div>
                                    </div>
                                  </div>

                                </div>

                                 <div class="card-law-grid h-auto">
                                  <div class="political-group-subcard p-2 mt-2">
                                    <div class="political-group-couple d-flex justify-content-between">
                                      <div class="avatar_name d-flex">
                                        <div class="political-group-avatar">
                                          <img class="avatar-small" alt="avatar" src="https://upload.wikimedia.org/wikipedia/en/thumb/4/4f/Parti_socialiste.svg/1920px-Parti_socialiste.svg.png"/>
                                        </div>

                                        <div class="political-group-name ml-2">
                                          <p> SOC </p>
                                        </div>
                                      </div>

                                      <div class="">
                                        <a class="far fa-plus-square" data-bs-toggle="collapse" href="#collapseSubLaw" role="button" aria-expanded="false" aria-controls="collapseExample"></a>
                                      </div>

                                    </div>
                                    <div class="political-group-votes d-flex">
                                      <div class="votes d-flex mt-2 mt-2 p-2">
                                        <% votes_for = law.MODEM_positions.split("-")[0].to_i%>
                                        <% votes_against = law.MODEM_positions.split("-")[1].to_i %>
                                        <% votes_abstained = law.MODEM_positions.split("-")[2].to_i %>

                                        <% if votes_for > votes_against && votes_for > votes_abstained %>
                                          <div class="votes_for"><i class="far fa-check-square"></i></div>
                                          <div class="votes_for ml-2"><%= votes_for%> voted for</div>

                                        <% elsif votes_against > votes_for && votes_against > votes_abstained %>
                                          <div class="votes_against"><i class="far fa-times-circle"></i></div>
                                          <div class="votes_against ml-2"><%= votes_against%> voted against</div>

                                        <% else votes_abstained %>
                                          <div class="votes_abstained"><i class="fas fa-ban"></i></div>
                                          <div class="votes_abstained ml-2"><%= votes_abstained%> abstained</div>
                                        <% end %>
                                      </div>
                                    </div>
                                    <div class="political-group-dropdown">
                                      <div class="collapse" id="collapseSubLaw">
                                        <div class="sublaw ">
                                          <div class="votes">
                                            <% votes_for = law.MODEM_positions.split("-")[0].to_i%>
                                            <% votes_against = law.MODEM_positions.split("-")[1].to_i %>
                                            <% votes_abstained = law.MODEM_positions.split("-")[2].to_i %>

                                            <% if votes_for > votes_against && votes_for > votes_abstained %>
                                            <div class="">
                                              <div class="votes_against"><i class="far fa-times-circle"></i></div>
                                              <div class="votes_against ml-2"><%= votes_against%> voted against</div>
                                              <div class="votes_abstained"><i class="fas fa-ban"></i></div>
                                              <div class="votes_abstained ml-2"><%= votes_abstained%> abstained</div>
                                            </div>

                                            <% elsif votes_against > votes_for && votes_against > votes_abstained %>
                                            <div class="">
                                              <div class="votes_for"><i class="far fa-check-square"></i></div>
                                              <div class="votes_for ml-2"><%= votes_for%> voted for</div>
                                              <div class="votes_abstained"><i class="fas fa-ban"></i></div>
                                              <div class="votes_abstained ml-2"><%= votes_abstained%> abstained</div>
                                            </div>

                                            <% else votes_abstained %>
                                            <div class="inline-block  m-auto">
                                              <div class="votes_for"><i class="far fa-check-square"></i></div>
                                              <div class="votes_for ml-2"><%= votes_for%> voted for</div>
                                              <div class="votes_against"><i class="far fa-times-circle"></i></div>
                                              <div class="votes_against ml-2"><%= votes_against%> voted against</div>
                                            </div>
                                            <% end %>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                 <div class="card-law-grid h-auto">
                                  <div class="political-group-subcard p-2 mt-2">
                                    <div class="political-group-couple d-flex justify-content-between">
                                      <div class="avatar_name d-flex">
                                        <div class="political-group-avatar">
                                          <img class="avatar-small" alt="avatar" src="https://upload.wikimedia.org/wikipedia/en/thumb/4/4f/Parti_socialiste.svg/1920px-Parti_socialiste.svg.png"/>
                                        </div>

                                        <div class="political-group-name ml-2">
                                          <p> SOC </p>
                                        </div>
                                      </div>

                                      <div class="">
                                        <a class="far fa-plus-square" data-bs-toggle="collapse" href="#collapseSubLaw" role="button" aria-expanded="false" aria-controls="collapseExample"></a>
                                      </div>

                                    </div>
                                    <div class="political-group-votes d-flex">
                                      <div class="votes d-flex mt-2 mt-2 p-2">
                                        <% votes_for = law.MODEM_positions.split("-")[0].to_i%>
                                        <% votes_against = law.MODEM_positions.split("-")[1].to_i %>
                                        <% votes_abstained = law.MODEM_positions.split("-")[2].to_i %>

                                        <% if votes_for > votes_against && votes_for > votes_abstained %>
                                          <div class="votes_for"><i class="far fa-check-square"></i></div>
                                          <div class="votes_for ml-2"><%= votes_for%> voted for</div>

                                        <% elsif votes_against > votes_for && votes_against > votes_abstained %>
                                          <div class="votes_against"><i class="far fa-times-circle"></i></div>
                                          <div class="votes_against ml-2"><%= votes_against%> voted against</div>

                                        <% else votes_abstained %>
                                          <div class="votes_abstained"><i class="fas fa-ban"></i></div>
                                          <div class="votes_abstained ml-2"><%= votes_abstained%> abstained</div>
                                        <% end %>
                                      </div>
                                    </div>
                                    <div class="political-group-dropdown">
                                      <div class="collapse" id="collapseSubLaw">
                                        <div class="sublaw ">
                                          <div class="votes">
                                            <% votes_for = law.MODEM_positions.split("-")[0].to_i%>
                                            <% votes_against = law.MODEM_positions.split("-")[1].to_i %>
                                            <% votes_abstained = law.MODEM_positions.split("-")[2].to_i %>

                                            <% if votes_for > votes_against && votes_for > votes_abstained %>
                                            <div class="">
                                              <div class="votes_against"><i class="far fa-times-circle"></i></div>
                                              <div class="votes_against ml-2"><%= votes_against%> voted against</div>
                                              <div class="votes_abstained"><i class="fas fa-ban"></i></div>
                                              <div class="votes_abstained ml-2"><%= votes_abstained%> abstained</div>
                                            </div>

                                            <% elsif votes_against > votes_for && votes_against > votes_abstained %>
                                            <div class="">
                                              <div class="votes_for"><i class="far fa-check-square"></i></div>
                                              <div class="votes_for ml-2"><%= votes_for%> voted for</div>
                                              <div class="votes_abstained"><i class="fas fa-ban"></i></div>
                                              <div class="votes_abstained ml-2"><%= votes_abstained%> abstained</div>
                                            </div>

                                            <% else votes_abstained %>
                                            <div class="inline-block  m-auto">
                                              <div class="votes_for"><i class="far fa-check-square"></i></div>
                                              <div class="votes_for ml-2"><%= votes_for%> voted for</div>
                                              <div class="votes_against"><i class="far fa-times-circle"></i></div>
                                              <div class="votes_against ml-2"><%= votes_against%> voted against</div>
                                            </div>
                                            <% end %>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>

                              </div>
                            </div>


                            <div class="post-share w-100">
                              <!-- icons to share and like -->
                            </div>
                            </div>
                          </div>
                        <% end %>
                      <% end %>
                    <% end %>
                  <% end %>
                <% end %>
              <% end %>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>

  <% end %>
<% end %>
<% end %>
<% end %>






















