<div class=" p-2 law-details align-items-center ">
 <!--  title and icon -->
  <div class= " align-items-center w-100 ">
    <div class="ml-1 law-text">
      Which topic would you most closely associate the tweet with?
    </div>

    <div class="form-outline w-100">
    </div>

  </div>

</div>



<div class=" p-2 law-details align-items-center ">
 <!--  title and icon -->
  <div class= " align-items-center w-100 ">

    <div class="ml-1 law-text">
      Please pick the most relevant law from the list:
    </div>



    <div class="form-outline w-100">
      <%= simple_form_for @match, :html=> { class: 'form-control' } do |f| %>
        <div class="select-form">
          <%= f.select :project_law_id, options_for_select(ProjectLaw.all.map{ |u| [u.name, u.id] })%>
        </div>
        <div class="select-form">
          <%= f.select :policy_area_id, options_for_select(PolicyArea.all.map{ |u| [u.category, u.id] })%>
        </div>
        <%= f.hidden_field :post_id, value: @posts.last.id%>
        <div class="select-form">
          <%= submit_tag "SEARCH", class: "btn btn-flat-green mr-3 far fa-check-circle"%>
        </div>
      <% end %>
    </div>



    <div class="d-flex ml-1 justify-content-center space-between mt-3">

      <div>
        <a class="btn btn-flat-green mr-3 far fa-check-circle" href="#"></a>

      </div>
      <div>

      </div>

    </div>

  </div>

</div>


