<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <a class="navbar-brand" href="#">
    <h2 class="title">Transparence</h2>
  </a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
    <%= render 'components/search_bar'%>

  <div class="collapse navbar-collapse " id="navbarSupportedContent">
    <div class="links w-100 d-flex p-2">
      <div class="login d-flex">
          <% unless current_user %>
            <div class="nav-item active d-flex">
              <a class="nav-link contribute-link" href="#"><%=link_to "Sign up", new_user_registration_path %></a>
            </div>

            <div class="nav-item d-flex mr-4">
              <a class="nav-link" href="#"><%=link_to "Login", new_user_session_path %></a>
            </div>

          <% else %>

            <div class="nav-item dropdown d-flex">
              <i class="fas fa-user dropdown-toggle" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></i>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
              <div class="dropdown-item"><%= link_to "Profile", user_path(current_user.id) %></div>
              <div class="dropdown-item"><%= link_to "Logout", destroy_user_session_path, method: :delete %></div>
            </div>
            </div>

          <% end %>
      </div>
    </div>
  </div>
</div>
