<% if current_user && current_user.is_contributer? %>
<%= render 'components/navbar_index'%>
  <div class="main-container-index">

    <div class="container-filter d-flex justify-content-around mt-3 mb-4">
      <%= render'components/card_guide'  %>
    </div>



  <div class=" m-auto   ">
    <% @tweets.each do |tweet| %>
        <%= render 'components/card_tweet',tweet: tweet %>
    <% end %>
  </div>



  <!-- <div class="suggestions-container ">
    <div class="card-suggestion">
      <p>suggestion</p>
    </div>

  </div> -->
</div>

  <% else %>
    <%= render 'components/navbar_home'%>
<div id="main">
      <div class="fof">
            <h1>Sorry, you're not allowed to view this page</h1>
            <div> Please <%=link_to "login", new_user_session_path %> or <%=link_to "sign up", new_user_registration_path %> to proceed </div>
      </div>
</div>
<% end %>
