<% if current_user && current_user.is_contributer? %>
<%= render 'components/navbar_index'%>
<div class="main-container-index">

    <div class="container-filter d-flex justify-content-around mt-3 mb-4">
      <%= render'components/card_guide'  %>
    </div>



  <div class=" card-container d-flex justify-content-around mt-3 mb-4 ">
    <div>
    <% @tweets.each do |tweet| %>
      <%= render 'components/card_tweet',tweet: tweet %>
    <% end %>
  </div>
</div>


  <div class="suggestions-container d-flex justify-content-around mt-4">
    <div class="d-flex flex-column">
      <div class="politicians_suggestions p-2">
        <%= render 'components/card_user_profile_level' %>
      </div>
      <div class="footer p-2">
        <%= render 'components/footer' %>
      </div>
    </div>
  </div>

</div>

  <% else %>
    <%= render 'components/navbar_home'%>

<div id="main">
      <div class="fof">
            <h1>Sorry, you're not allowed to view this page</h1>
            <div> Please <%=link_to "login", new_user_session_path %> or <%=link_to "sign up", new_user_registration_path %> to proceed </div>
      </div>
</div>
<style>
  html {
    height: 100%;
}

#main{
    display: table;
    width: 100%;
    height: 100vh;
    text-align: center;
    color: $light-gray;
}

.fof{
    display: table-cell;
    vertical-align: middle;
}

.fof div {
  font-size: 40px;
}

.fof a:hover {
  text-decoration: none;
}

.fof h1{
    font-size: 50px;
    display: inline-block;
    padding-right: 12px;
    animation: type .5s alternate infinite;
}

@keyframes type{
    from{box-shadow: inset -3px 0px 0px #888;}
    to{box-shadow: inset -3px 0px 0px transparent;}
}
</style>
<% end %>
