<%= render 'components/banner'%>


<div class="container-center-home-first banner-second d-flex ">

  <div class="small-container-home-first m-auto ">
    <div class=""><h1>Get context from politican communication to understand if what they say is aligned with their acts</h1></div>
  </div>

  <div class="small-container m-auto m-10">
     <%= image_tag "04.png", :class => "home-image" %>
  </div>

</div>

<div class="full-width"></div>

<div class="container-center-home-second banner-second  d-flex">

  <div class="small-container m-auto m-10">
     <%= image_tag "07.png", :class => "home-image" %>
  </div>

  <div class="small-container-home-second m-auto ">
    <div class=""><h1>If you want to help matching tweets with laws, contact us</h1></div>
  </div>

</div>

<div class="full-width"></div>

<div class="container-center-home-second banner-second d-flex">

  <div class="small-container-home-first text-align-center m-auto justify-content-between ">
    <div class=""><h1> Everybody is more than welcome to join the project. The idea will be to test this concept to then adapt it to other countries </h1></div>
  </div>

  <div class="small-container-second m-auto m-10">
     <%= image_tag "06.png", :class => "home-image" %>
  </div>

</div>

<div class="main-home-footer">
  <div class="home-footer">

    <div class="home-footer-links">
      <a href="https://github.com/Hulow/transparence" target="_blank"><i class="fab fa-github fa-lg"></i></a>
      <a href="#"><i class="fab fa-twitter fa-lg"></i></a>
    </div>

    <div class="home-footer-copyright d-flex">
      <div class="new-link pr-1">
        <a href="https://www.nosdeputes.fr/" target="_blank" id="new-link"><i class="far fa-copyright"></i> NosDéputés</a>
      </div>

      <div><i class="far fa-copyright mb-2"></i> <%= Date.today.year %> Transparence</div>
    </div>





  </div>
</div>






