<%= render 'components/banner'%>


<div class="container-center-home-first banner-second d-flex ">

  <div class="small-container-home-first m-auto ">
    <div class=""><h2>Gain additional perspective on policicians' communications</h2></div>
  </div>

  <div class="small-container m-auto m-10">
     <%= image_tag "04.png", :class => "home-image" %>
  </div>

</div>

<div class="full-width"></div>

<div class="container-center-home-second banner-second  d-flex">

  <div class="small-container m-auto m-10">
     <%= image_tag "07.png", :class => "home-image" %>
  </div>

  <div class="small-container-home-second m-auto ">
    <div class=""><h2>Hold politicians to a higher standard by making them accountable</h2></div>
  </div>

</div>

<div class="full-width"></div>

<div class="container-center-home-second banner-second d-flex">

  <div class="small-container-home-first text-align-center m-auto justify-content-between ">
    <div class=""><h2> Join our community, spread the word and help us create a more transparent world! </h2></div>
  </div>

  <div class="small-container-second m-auto m-10">
     <%= image_tag "06.png", :class => "home-image" %>
  </div>

</div>

<div class="main-home-footer">
  <div class="home-footer">

    <div class="home-footer-links">
      <a href="https://github.com/Hulow/transparence" target="_blank"><i class="fab fa-github fa-lg"></i></a>
      <a href="#"><i class="fab fa-twitter fa-lg"></i></a>
    </div>

    <div class="home-footer-copyright d-flex">
      <div class="new-link pr-1">
        <a href="https://www.nosdeputes.fr/" target="_blank" id="new-link"><i class="far fa-copyright"></i> NosDéputés</a>
      </div>

      <div><i class="far fa-copyright mb-2"></i> <%= Date.today.year %> Transparence</div>
    </div>





  </div>
</div>






