<div class="navbar navbar-expand-sm navbar-light navbar-home navbar-lewagon-home">
  <a class="navbar-brand mb-8">
    <%= link_to root_path do %>
      <h2 class="title-home">Transparence</h2>
    <% end %>
  </a>
</div>
  <div class="container d-flex">

    <div class="form-login">
      <h2>Log in</h2>
      <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="form-inputs p-3">
          <%= f.input :username,
                            required: true,
                            autofocus: true,
                            input_html: { autocomplete: "username" }%>
          <%= f.input :email,
                            required: true,
                            autofocus: true,
                            input_html: { autocomplete: "email" }%>
          <%= f.input :password,
                            required: true,
                            hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                            input_html: { autocomplete: "new-password" } %>
        </div>
        <div class="form-actions">
          <%= f.button :submit, "Log in", class: "btn-flat-green" %>
        </div>
        <%= render "devise/shared/links" %>
      <% end %>
    </div>
  </div>
</div>
