<%= render 'components/navbar_index_posts'%>
<div class="main-container-index">

  <div class="container-filter d-flex justify-content-between mt-3 mb-4">
        <%= render'components/card_filter'  %>
  </div>


  <div class="card-container d-flex justify-content-between mt-3 mb-4">
    <div>
      <% @posts.each do |post| %>

          <% @tweets.each do |tweet| %>
            <% if post.tweet_id == tweet.id %>
              <% @politicians.each do |politician| %>
                <% if tweet.politician_id == politician.id %>
                  <% @political_parties.each do |political_party| %>
                    <% if tweet.politician_id == political_party.id %>
                      <% @matches.each do |match| %>
                        <% if match.post_id == post.id %>
                          <% @policy_areas.each do |policy_area| %>
                            <% if match.policy_area_id == policy_area.id %>
                              <% @project_laws.each do |law| %>
                                <% if match.project_law_id == law.id %>
                                  <% @political_groups.each do |group|%>
                                    <% if political_party.political_group_id == group.id %>
                                      <%= render 'components/card_post', tweet: tweet, political_party: political_party, politician: politician, policy_area: policy_area, law: law, group: group, post: post %>
                                    <% end %>
                                  <% end %>
                                <% end %>
                              <% end %>
                            <% end %>
                          <% end %>
                        <% end %>
                      <% end %>
                    <% end %>
                  <% end %>
                <% end %>
              <% end %>
            <% end %>
          <% end %>
        <% end %>
    </div>
  </div>

  <div class="suggestions-container d-flex justify-content-between mt-3 mb-4">
    <div class="d-flex flex-column">
      <div class="contribute_suggestions">
        <%= render 'components/card_suggestion_contribute_posts' %>
      </div>
      <div class="footer p-2">
        <%= render 'components/footer' %>
      </div>
    </div>
  </div>

</div>
